<app-navbar></app-navbar>
<div class="container clear">
  <div class="row">
    <div class="cold-md-2 separador-vertical">
      <h2>{{nombre}} {{apellido}}</h2>
      <p>Puesto: {{role}}</p>
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/misc/user2.png" alt="Card image" style="width:100%" >
        <div class="card-body">
          <h4 class="card-title">Email:</h4>
          <p class="card-text">{{email}}</p>
          <h4 class="card-title">Teléfono</h4>
          <p class="card-text">{{telefono}}</p>
          <a class="btn btn-primary">Editar perfil</a>
        </div>
      </div>
      <br>
    </div>
    <div class="cold-md-1">
      <br>
    </div>
    <div class="cold-md-9">
    </div>
  </div>
</div>